/*
******************
* MAIN
******************
*/
@font-face {
    font-family: 'almoni-tzar';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/almoni-tzar-aaa-100.woff);    
}
@font-face {
    font-family: 'almoni-tzar-bold';    
    src: url(../fonts/almoni-tzar-aaa-700.woff);   
}
header, body{
    font-family: "almoni-tzar";
    font-weight: 100;
    font-size: 16px; 
    color: white;
    direction: rtl;
}
h1{
    font-size:3vw;
  }
h2{
    font-size: 2.9vw;
  }
h3{
    font-size: 2.8vw;
  } 
h4{
    font-size: 2vw;
  }
h5{
    font-size: 1.8vw;
  }
h6{
    font-size: 1.6vw;
}
button{    
    height: 3vw;
    width: 12vw;
    font-size: 2vw;
    font-family: 'almoni-tzar';
    font-weight: 600;
}
.z-index-2{
    position: absolute;
    z-index: 2;
}  
.container-background{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(100%-40px);
    height: 100%;
    background: #B8B8B8;    
    position: relative;
}

/*
******************
* HEADER
******************
*/
header{
    height: 80px;	
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center; 
    justify-content:space-between;    
}
.logo{
    background-color: aliceblue;
    color: #141414;
}
.list-menu{
    height: 100%;
    display: flex;
    align-items: center;    
}
.list-menu>li{
    color: #FFFFFF;
    margin-right: 10px;    
}
/*
******************
* GRADUATE
******************
*/
.our-graduate{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;     
    width: 100%;  
    height:40vw;
    position: relative;
}
.graduate-img{
    width: 100%;
	height: 100%;
    position: absolute;
    z-index: 1;
}
.graduate-text{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;     
}
.graduate-text h1{
    font-family:  'almoni-tzar-bold';    
}
.btn-collaboration{    
    border: 2px solid #FFFFFF;
    background-color: transparent;
    position: absolute;
    bottom: 3vw;
    color: #FFFFFF;     
}
/*
******************
* STUDENTS
******************
*/
.section{  
    width: calc(100%-80px);  
    height:45vw;    
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.section:last-child{
    margin-bottom: 0px;
}
.students-img{
    width: 100%;
	height: 100%;
    position: absolute;    
}
.students-text-right{   
    top:3vw;
    right: 4vw;
    text-align: right;
}
.students-text-left{
    top:3vw;
    left: 5.3vw;
    text-align: right;
}
.logo-wix{
    height: 3vw;
	width: 16vw;    
}
.student-name{
    margin-top:5vw;
    font-size:2vw;
    font-family:  'almoni-tzar-bold';     
}
.student-about{    
    font-size: 3vw;
    font-weight: bold;
}
.student-speach{   
    width: 490px;    
    margin-top:1em;    
}
.student-speach h3{
    font-family: 'almoni-tzar-bold';     	
    font-weight: bold;	    
} 
.btn-student{    
    background-color: #FFFFFF;
    border: 2px solid white;
    margin-top: 0.5em;        
}
.students-catalog{
    display: flex;
    margin-top: 1em;
}
.choose-student{
    display: block;
    width: 4vw;
    height:4vw;
    background: #5dc5ef;    
    border-radius: 5vw;
    margin: auto 10px;
}
/*
******************
* CONTACT US BLOCK
******************
*/
.block-contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: calc(100%-80px);  
    height:20vw;
    background-color: #4B0082;
    margin-bottom: 20px; 
    padding: 0vw 34vw;
    text-align: center;
}
.btn-contact-us{    
    margin-top: 10px;	
    border: 2px solid #FFFFFF;
    background-color: transparent;   
    color: #FFFFFF;
}

/*
******************
* COMPANIES
******************
*/
.companies{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: 100%;  
    height:30vw;   
    margin-top: -20px; 
}
.companies h1{
    color: black;    
    font-family: 'almoni-tzar-bold';  
}
.companies-fist-line, .companies-second-line{    
    display: flex;
    width: 80%;
    justify-content:space-between;   
    margin-top: 5vw; 
}
.companies-fist-line{
    margin-left: -7vw;
}
.companies-second-line{     
     margin-left: 12vw;
}
.companies .logo-wix{
    height: 1.5vw;
    width: 6vw;
    
}
.companies-fist-line img{
        color: #B8B8B8;
}
/*
******************
* FORM
******************
*/
.form-contact-container{
    display:flex;
    width: 100%;  
    height:35vw;
    background-color: #F6F6F6;   
    margin-bottom: 20px;
    padding-top: 5vw;
}
.text-meet-us {
    width: 50%;    
}
.text-meet-us span{
    display: block;
    width: 64.4%;
    margin-right: 17.14%;    
}
.form-container{
    width: 50%;
    display:flex;
    flex-direction: column;
}
.text-meet-us h1, .text-meet-us h6{
    color: black;
}
.text-meet-us h1{
    font-family: 'almoni-tzar-bold';
    margin-left: 4.35%;
}
.text-meet-us h6{
    margin-top: 10px;
    line-height:1.5;
    letter-spacing:1px;
}
.form{
    display:flex;
    flex-direction: column;  
    width: 74.7%;  
    margin-right: 8.7%;    
}
.form-control{
    margin-top: 1.5vw;
    background: #F6F6F6;   
}
.form input{
    border-top:none;
    border-left:none;
    border-right: none;  
    border-bottom: 1px solid #B8B8B8;
    padding-bottom: 1vw;   
}
textarea{
    border: 1px solid #B8B8B8;
    height: 10vw;
    resize: none;
}
#btn-form{
    background-color: #F90EB9;
    border: none;
    color: white; 
    margin-top: 20px;  
}
/*
******************
* SUBSCRIPTION
******************
*/
.subscription{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: calc(100%-80px);  
    height:20vw;
    background: #F90EB9;  
    position: relative;  
}
.subscription h4{
    margin-top: 10px;
}
.form-subscription{    
    display: flex;
    margin-top: 10px;  
    width: 37%;   
}
.form-subscription button{
    color: #F90EB9;      
}
.form-subscription input{
    height: calc(3vw - 4px);
    width: 71%;
    padding: 0px;    
    border: 2px solid #FFFFFF;
    background: transparent;  
    color: #FFFFFF;    
}
.form-subscription input::-webkit-input-placeholder { 
    color: white;
    font-size: 0.8vw;
}
.form-subscription input::-moz-placeholder {
    color: white;
    font-size: 0.8vw;
}
/*
******************
* CREATE PHRASE
******************
*/
.create-phrase{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    background-color: #1D1D1D;
    width: 100%;
    height: 20vw;    
    font-family: "Patron TRIAL";
}
.create-phrase hr{
    margin-top: 10px;        
    height: 2px;
    width: 3vw;
    background-color: #D8D8D8; 
}
/*
******************
* FOOTER
******************
*/
footer{
    background: black;
    width: 100%;
    height: 5vw;
}